{% extends "admin/base_site.html" %}
{% load i18n static admin_urls %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'surveyjs/survey-core.min.css' %}">
<script src="{% static 'surveyjs/survey.core.min.js' %}"></script>
<script src="{% static 'surveyjs/survey.i18n.zh-cn.min.js' %}"></script>
<script src="{% static 'surveyjs/survey-js-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'surveyjs/survey-creator-core.min.css' %}">
<script src="{% static 'surveyjs/survey-creator-core.min.js' %}"></script>
<script src="{% static 'surveyjs/survey-creator.i18n.zh-cn.min.js' %}"></script>
<script src="{% static 'surveyjs/survey-creator-js.min.js' %}"></script>
<style>
  #survey-creator { height: calc(100vh - 220px); min-height: 520px; }
  #survey-save-status { margin-left: 12px; }
</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; <a href="{{ back_url }}">{{ original }}</a>
  &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="submit-row">
  {% if can_save %}
  <input type="button" id="survey-save" class="default" value="保存问卷">
  {% endif %}
  <a href="{{ back_url }}" class="button">返回</a>
  <span id="survey-save-status">{% if locked_message %}{{ locked_message }}{% endif %}</span>
</div>
<div id="survey-creator"></div>
{{ schema_json|json_script:"survey-schema" }}
<script src="{% static 'admin/surveyjs/editor.js' %}"></script>
<script>
  SurveyAdminEditor.init({
    schemaEl: "survey-schema",
    saveUrl: "{{ save_url|escapejs }}",
    canSave: {{ can_save|yesno:"true,false" }}
  });
</script>
{% endblock %}
